<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exportar E-mails</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0');
            var year = today.getFullYear();
            var todayDate = day + '-' + month + '-' + year;
            document.getElementById('start_date').value = todayDate;
            document.getElementById('end_date').value = todayDate;

            // Adiciona event listeners para os botões de fechar
            var closeButtons = document.querySelectorAll('.close-btn');
            closeButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var alert = this.parentElement;
                    var alertContainer = alert.parentElement;
                    alertContainer.removeChild(alert);

                    // Verifica se há mais alertas restantes
                    if (alertContainer.children.length === 0) {
                        var flashMessages = alertContainer.parentElement;
                        flashMessages.parentElement.removeChild(flashMessages);
                    }
                });
            });

            // Verifica se a preferência de tema foi salva no localStorage
            if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('dark-mode');
                document.getElementById('theme-toggle').checked = true;
            }

            // Adiciona um listener ao botão toggle para mudar o tema
            document.getElementById('theme-toggle').addEventListener('change', function() {
                if (this.checked) {
                    document.body.classList.add('dark-mode');
                    localStorage.setItem('theme', 'dark');
                } else {
                    document.body.classList.remove('dark-mode');
                    localStorage.setItem('theme', 'light');
                }
            });
        });
    </script>
</head>
<body>
    <h1>Exportar E-mails</h1>

    <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                <ul>
                {% for category, message in messages %}
                    <li class="flash-{{ category }}">
                        <button class="close-btn">&times;</button>
                        <strong>{{ category }}:</strong> {{ message }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    
    <form method="post">
        <label for="email_address">Endereço de E-mail:</label>
        <input type="text" id="email_address" name="email_address" value="marcio.junior@veddara.com.br"><br><br>
        <label for="subfolder_name">Subpasta (opcional):</label>
        <input type="text" id="subfolder_name" name="subfolder_name" value="Receitas"><br><br>
        <label for="start_date">Data de Início (DD-MM-YYYY):</label>
        <input type="text" id="start_date" name="start_date"><br><br>
        <label for="end_date">Data de Término (DD-MM-YYYY):</label>
        <input type="text" id="end_date" name="end_date"><br><br>
        <button type="submit">Exportar</button>
    </form>
</body>
</html>
